<div class="min-h-screen bg-[#f8f9fd] px-6 py-8">

  <!-- Breadcrumb -->
  <app-breadcrumb [items]="['PROJECTS', 'PROJECT ALPHA', 'MEMBERS' ,'New Epic']"> </app-breadcrumb>

  <!-- Page title -->
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-slate-900">
      Create New Epic
    </h1>

    <p class="mt-2 max-w-[500px] text-sm leading-5 text-slate-500">
      Define a major project phase or high-level milestone to group
      related tasks and track architectural progress.
    </p>
  </div>

  <!-- Form Card -->
  <div class="max-w-5xl rounded-md bg-white px-10 py-9 shadow-sm">

    <form class="space-y-8">

      <!-- Title -->
      <div class="grid grid-cols-[180px_1fr] items-start gap-8">

        <label class="pt-3 text-xs font-semibold uppercase tracking-wide text-slate-700">
          Title <span class="text-red-500">*</span>
        </label>

        <div>
          <!-- {{epicForm.title }} -->
          <input type="text" placeholder="e.g. Structural Foundation Phase" class="h-11 w-full rounded-sm border border-transparent
                   bg-blue-100/70 px-4 text-sm text-slate-700
                   outline-none transition
                   placeholder:text-slate-400
                   focus:border-blue-500 focus:bg-white" [formField]="epicForm.title" />

          <!-- Validation -->
          @if (epicForm.title().touched() && epicForm.title().errors().length) {
          <p class="mt-2 flex items-center gap-1 text-[10px] font-medium uppercase text-red-500">
            <span>⊗</span>
            Title is required (minimum 3 characters)
          </p>
          }

        </div>

      </div>

      <!-- Description -->
      <div class="grid grid-cols-[180px_1fr] items-start gap-8">

        <div>
          <label class="text-xs font-semibold uppercase tracking-wide text-slate-700">
            Description
          </label>

          <p class="mt-1 text-[10px] text-slate-400">
            Optional
          </p>
        </div>

        <div>
          <textarea rows="5" placeholder="Describe the scope and objectives of this epic..." class="w-full resize-none rounded-sm border border-transparent
                   bg-blue-100/70 px-4 py-3 text-sm text-slate-700
                   outline-none transition
                   placeholder:text-slate-400
                   focus:border-blue-500 focus:bg-white" [formField]="epicForm.description"></textarea>

          <div class="mt-1 text-right text-[10px] text-slate-400">
            {{epicForm.description().value().length}} / 500 characters
          </div>
        </div>

      </div>

      <!-- Assignee + Deadline -->
      <div class="grid grid-cols-[180px_1fr] gap-8">

        <div>

        </div>

        <div class="grid grid-cols-2 gap-8">


          @if (loading()) {

          <!-- 1. Loading -->
          <div class="w-full animate-pulse">
            <div class="mb-3 h-3 w-16 rounded bg-surface-low"></div>

            <div class="flex h-12 items-center justify-between rounded-md bg-surface-low px-4">
              <div class="h-4 w-28 rounded bg-surface-low"></div>
              <div class="h-4 w-4 rounded bg-surface-low"></div>
            </div>
          </div>

          }
          @else if (errorApi()) {

          <!-- 2. Failed request -->
          <div>
            <p class="mb-2 text-sm font-medium">ASSIGNEE</p>

            <div class="rounded-md border border-red-200 bg-red-50 px-4 py-3 text-sm text-red-600">
              Failed to load project members.
            </div>
          </div>

          }
          @else if (memberData.length === 0) {

          <!-- 3. Empty member list -->
          <div>
            <label class="mb-2 block text-sm font-medium">
              ASSIGNEE
            </label>

            <select disabled class="w-full rounded-md bg-slate-100 px-4 py-3 text-slate-400">
              <option>No members available</option>
            </select>
          </div>

          }
          @else {

          <!-- 4. Successfully loaded -->

          <div>
            <label class="mb-2 block text-xs font-semibold uppercase tracking-wide text-slate-700">
              Assignee
            </label>

            <select class="h-11 w-full rounded-sm border border-transparent
                     bg-blue-100/70 px-4 text-sm text-slate-700
                     outline-none transition
                     focus:border-blue-500 focus:bg-white" [formField]="epicForm.assign"
              (change)="selectAssignee($event)">

              @for (member of memberData; track member.member_id) {
              <option [value]="member.user_id">
                {{ member.metadata.name }}
              </option>
              }
            </select>
          </div>
          }






          <!-- Deadline -->
          <div>
            <label class="mb-2 block text-xs font-semibold uppercase tracking-wide text-slate-700">
              Deadline
            </label>
            <input type="date" class="h-11 w-full rounded-sm border border-transparent
                     bg-blue-100/70 px-4 text-sm text-slate-700
                     outline-none transition *:
                     focus:border-blue-500 focus:bg-white" [formField]="epicForm.deadline" />
            @if (
            epicForm.deadline().touched() &&
            epicForm.deadline().errors().length
            ) {
            @for (error of epicForm.deadline().errors(); track $index) {
            <p class="mt-2 text-xs text-red-500">
              {{ error.message }}
            </p>
            }
            }


            @if (isDeadlineInvalid(epicCreate().deadline)) {
            <p class="text-red-500 text-sm mt-1">
              Deadline cannot be before today.
            </p>
            }
          </div>

        </div>

      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-3 pt-4">

        <button type="button" class="px-3 py-2 text-sm font-medium text-slate-600
                 transition  cursor-pointer bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          Cancel
        </button>

        <button type="button" [disabled]="epicForm().invalid()"
          class="rounded-sm bg-blue-600 px-8 py-2.5
                 text-sm font-medium text-white shadow-sm
                 transition hover:bg-blue-700
                 focus:outline-none focus:ring-2
                 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed" (click)="getEpic()">
          Create Epic
        </button>

      </div>

    </form>

  </div>

</div>