@if(tostService.toast(); as toast){
    <div class="">
      <div
    class="fixed bottom-5 right-5 z-50 min-w-72 rounded-lg px-4 py-3 text-white shadow-lg"
    [class.bg-red-500]="toast.type === 'error'"
    [class.bg-green-500]="toast.type === 'success'"
    [class.bg-blue-500]="toast.type === 'info'"
  > 
  <div class="flex">
  <span>{{ toast.message }}</span>
     <button type="button" (click)="hide()" class="cursor-pointer ms-auto flex items-center justify-center text-body hover:text-heading bg-transparent box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded text-sm h-8 w-8 focus:outline-none" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only" >Close</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
    </button>
  </div>

  </div>
    </div>


}