/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-size: 1rem;
}

@theme {
  /* Colors */
  --color-primary: #003D9B;
  --color-primary-gradient: linear-gradient(95.71deg, #003D9B 0%, #0052CC 100%);
  --color-primary-container: #0052CC;
  --color-surface-highest: #D7E2FF;
  --color-surface-medium: #D7E2FF;
  --color-surface-low: #F1F3FF;
  --color-bg: #F9F9FF;
  --color-slate-100: #041B3C;
  --color-slate-200: #4F5F7B;
  --color-slate-300: #C3C6D6;
  --color-success: #82F9BE;
  --color-error: #BA1A1A;
  --color-warning: #FFB300;
  --color-blue: #434654;



}

.display-lg {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -2.8px;
  line-height: 56px;
  text-transform: capitalize;
  color: #041B3C;


}

.heading-lg {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -2.8px;
  line-height: 0px;
  text-transform: capitalize;
  color: #041B3C;



}

.title-md {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0x;
  line-height: 27px;
  text-transform: capitalize;
  color: #041B3C;



}

.body-md {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0x;
  line-height: 22.75px;
  text-transform: capitalize;
  color: #434654;


}

.label-sm {
  font-size: 0.688rem;
  font-weight: 700;
  letter-spacing: 1.1px;
  line-height: 16.5px;
  text-transform: uppercase;
  color: #041B3C;
}