<div class="mb-2 flex items-center gap-2 text-[10px] font-semibold uppercase tracking-[0.08em]">

  <span class="text-slate-400">
    {{ category }}
  </span>

        <img src="assets/images/icons/breadcrumb-arrow.svg"/>

  <span
    [class.text-[#2563EB]]="!subName"
    [class.text-slate-400]="subName"
  >
    {{ PageName }}
  </span>

  @if (subName) {
    <span class="text-slate-400">
        <img src="assets/images/icons/breadcrumb-arrow.svg"/>
    </span>

    <span class="text-[#2563EB]">
      {{ subName }}
    </span>
  }

</div>