<div class="flex min-h-screen items-center justify-center bg-[#f8f9fd] px-4 py-8">

  <div class="w-full max-w-[480px] rounded-[6px] border border-[#edf0f5] bg-white
           px-6 py-8 shadow-[0_8px_28px_rgba(15,23,42,0.06)] sm:px-10 sm:py-10">
    <!-- Header -->
    <div class="text-center">
      <h1 class="text-[28px] font-semibold text-[#172033] sm:text-[32px]">
        Welcome Back
      </h1>

      <p class="mt-2 text-[14px] text-[#6f7785]">
        Please enter your details to access your workspace
      </p>
    </div>

    <!-- Form -->
    <form class="mt-8 sm:mt-10">
      <!-- Email -->
      <div>
        <label for="email" class="mb-2 block text-[11px] font-semibold uppercase
                 tracking-[0.04em] text-[#4b5565]">
          Email
        </label>

        <input id="email" type="email" placeholder="yourname@company.com"   autocomplete="on"
               class="h-11 w-full rounded-[4px] border border-[#dce5f4] bg-[#eaf1ff]
                 px-4 text-[14px] text-[#344054]
                 placeholder:text-[#94a0b2]
                 outline-none transition
                 focus:border-[#8aaddd] focus:bg-white" [formField]="loginForm.email" />
      </div>

      <!-- Password -->
      <div class="mt-6">
        <label for="password" class="mb-2 block text-[11px] font-semibold uppercase
                 tracking-[0.04em] text-[#4b5565]">
          Password
        </label>
        <div class="relative">
          <input id="password" [type]="showpass? `input` : `password` " placeholder="Enter your password"   autocomplete="current-password"
                 class="h-11 w-full rounded-[4px] border border-[#dce5f4] bg-[#eaf1ff]
                   px-4 pr-12 text-[14px] text-[#344054]
                   placeholder:text-[#94a0b2]
                   outline-none transition
                   focus:border-[#8aaddd] focus:bg-white" [formField]="loginForm.password" />

          <!-- Eye icon -->




          <button type="button" class="absolute right-4 top-1/2 -translate-y-1/2
                   text-[#778397] hover:text-[#071b35] cursor-pointer"
                 (click)="togglePass()"  
                   >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" class="h-5 w-5">
              <path d="M2 12s3.5-7 10-7 10 7 10 7-3.5 7-10 7S2 12 2 12Z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
          </button>
        </div>
      </div>
      @if(loginForm.email().touched() && loginForm.email().errors()){
      @for (error of loginForm.email().errors() ; track error.kind) {
      <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">{{
        error.message }}</div>
      }
      }

      @if(loginForm.password().touched() && loginForm.password().errors()){
      @for (error of loginForm.password().errors(); track error.kind) {
      <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">{{
        error.message }}</div>
      }
      }

      <!-- Remember / Forgot password -->
      <div class="mt-6 flex flex-wrap items-center justify-between gap-3 text-[13px]">
        <label class="flex cursor-pointer items-center gap-2 text-[#475467]">
          <input type="checkbox" class="h-4 w-4 rounded border border-[#c5cad3]
                   accent-[#075ac9]" [formField]="loginForm.rememberMe" />

          <span>Remember Me</span>
        </label>

        <a href="#" class="font-medium text-[#0866c6] hover:underline"
        routerLink="/forget-password"
        >
          Forgot Password?
        </a>
      </div>

<!-- [disabled]="loginForm.email().errors() || loginForm.password().errors()" -->

      <!-- Login Button -->
      <button class="mt-7 h-11 w-full rounded-[4px]
               bg-[#0866c6] text-[14px] font-semibold text-white
               transition hover:bg-[#075caf]
               active:scale-[0.99]" (click)="login()" type="button"  > 
        Log In
      </button>
      @if(apiError){
     <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    {{ apiError }}</div>     
      }

      
      <!-- Divider -->
      <div class="my-7 h-px w-full bg-[#edf0f5]"></div>

      <!-- Sign up -->
      <p class="text-center text-[13px] text-[#4b5563]">
        Don't have an account?

        <button class="ml-1 cursor-pointer font-semibold text-[#0866c6] hover:underline" [routerLink]="['/sign-up']">
          Sign Up
        </button>
      </p>

    </form>

  </div>

</div>